<!DOCTYPE html>

<html>

<head>

<title>Leaderboard</title>

<link rel="stylesheet" href="/static/style.css">

</head>


<body>


<div class="leaderboard">


<h1>🏆 AI Escape Room Leaderboard</h1>


<table class="leaderboard">

<tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Score</th>
    <th>Time</th>
    <th>Hints</th>
</tr>

{% for player in players %}

<tr>

<td>
{% if loop.index == 1 %}
🥇
{% elif loop.index == 2 %}
🥈
{% elif loop.index == 3 %}
🥉
{% else %}
{{ loop.index }}
{% endif %}
</td>

<td>{{ player.name }}</td>

<td>{{ player.score }}/100</td>

<td>{{ player.time }}</td>

<td>{{ player.hints }}</td>

</tr>

{% endfor %}

</table>

 <div class="button-center">
<a href="/restart"class="play again-btn">
<button>
Play Again
</button>

</a>
</div>

</div>



</body>

</html>